$mainColor: #ff6600;

.header {
  margin: 0 auto;
  text-align: left;
  height: 70px;
  box-shadow: 0px 2px 6px 2px rgba($color: #000000, $alpha: 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  background: #fff;
  padding: 0 30rem;

  .inner {
    max-width: 1200px;
    margin: 0 auto;

    .logoWrap {
      display: inline-block;
      line-height: 1;
      margin-right: 80rem;
      vertical-align: top;
      cursor: pointer;
      img {
        display: inline-block;
        max-width: 50px;
        height: auto;
        margin: 10px 0;
        object-fit: cover;
      }
    }
    .gnbWrap {
      display: inline-block;

      .cate {
        ul {
          li {
            margin-right: 70rem;
            font-size: 18px;
            line-height: 70px;
            float: left;
            color: #000;
            transition: all 0.3s;
            cursor: pointer;
          }
          li:hover {
            color: $mainColor;
          }
        }
      }
    }
    .thema {
      display: inline-block;
      line-height: 70px;
      vertical-align: top;
      cursor: pointer;
      float: right;
      svg {
        height: 18px;
        vertical-align: middle;
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .header {
    height: 70px;

    .logoWrap {
      img {
        max-width: 50rem;
      }
    }

    .cate {
      ul {
        li {
          font-size: 18rem;
          line-height: 70rem;
        }
      }
    }
  }
}
