$mainColor: #ff6600;
.dimmed {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1;

  .userProfile {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 50vh;
    margin: 0 auto;
    height: auto;
    background: #fff;
    border-radius: 15px;
    box-shadow: rgba($color: #000, $alpha: 0.2) 0px 2px 4px 0px;
    padding: 20px;
    div {
      font-size: 16px;
    }

    .name {
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      padding-top: 50rem;
    }

    .infoBox {
      display: flex;
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 20px;
      border-bottom: 1px solid #f0f0f6;

      > div {
        padding: 0 30px;

        h3 {
          text-align: center;
          font-size: 14px;
          font-weight: bold;
          padding-bottom: 10px;
          color: #666;
        }
        p {
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          line-height: 1.2;
          color: $mainColor;
        }
      }
    }

    .about {
      padding-top: 10px;
      height: 20vh;
      overflow-y: scroll;
      h4 {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 8px;
      }
      p {
        font-size: 12px;
      }
    }

    .close {
      text-align: center;
      width: 100px;
      margin: 30px auto 0;
      border-radius: 50px;
      border: 1px solid #232323;
      padding: 10px 0;
      cursor: pointer;
      transition: all 0.3s;
    }

    .close:hover {
      border-color: $mainColor;
      color: $mainColor;
    }
  }
}

@media (max-width: 1024px) {
  .dimmed .userProfile {
    max-width: 100%;
    height: calc(100% - 30%);
    top: 100%;
    transform: translateY(-100%);
  }
  .dimmed .userProfile .about {
    height: 30vh;
  }
}
